#demo {
  position: relative;

  .carousel-indicators{
    position: absolute;
    bottom: 55%;

    li{
      width: 10px;
      height: 10px;
      background-color: #000;
    }
  }

  .carousel-item .feedback--bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    &::before {
      background: url("../../images/HOME/feedback--background.png") no-repeat;
      background-position: right bottom;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: -2;
      opacity: .4;
    }

    img {
      border: 3px solid #cbd4b3;
      border-radius: 50%;
      padding: 2%;
    }

    .title span {
      display: none;
    }

    .feedback_info {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  @media (min-width: 750px){
    .feedback_info {
      min-width: 200px;
    }

    .carousel-item .feedback--bg{
      flex-direction: row;
      align-items: flex-start;

      p {
        order: 2;
      }

      .feedback_info {
        flex-direction: column;
        img {
          order: 1;
        }

        .title {
          order: 3;
          position: absolute;
          bottom: 15%;
          left: 30%;

          span {
            display: inline;
          }

          h6 {
            display: inline;
          }
        }
      }

      &::before {
        opacity: 1;
        background-position: right 10%;
      }
    }

    .carousel-indicators {
      bottom: -15%!important;
      left: -35%!important;
    }
  }

  @media (min-width: 992px) {
    .carousel-indicators {
      bottom: -15%!important;
      left: -50%!important;
    }

    .carousel-item .feedback--bg {
      .title {
        bottom: 28%!important;
        left: 23%!important;
      }
    }
  }

  @media (min-width: 1200px) {
    .carousel-indicators {
      bottom: 0!important;
      left: -60%!important;
    }

    .carousel-item .feedback--bg {
      .title {
        bottom: 36%!important;
        left: 18%!important;
      }
    }
  }
}