@import "../common/variable";
@import "../common/mixin";

footer {
  font-weight: 700;
  background-color: #050505;
  color: $footer--color;

  .overview--item {
    border-bottom: 1px solid $footer--color;

    h5 {
      color: $footer_header--color;
    }

    @include styleUl();
  }

  .further-info {
    span {
      font-size: .8rem;
    }
  }

  @media (min-width: 992px) {
    .overview--info {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
      grid-gap: 2rem;
      align-items: baseline;
      font-size: .8rem;
      border-bottom: 1px solid $footer--color;

      .overview--item {
        border-bottom: none;
      }
    }
  }
}