@import "../common/variable";
@import "../common/mixin";

.title--content {
  font-weight: 700;
}

.body--content {
  color: $content;
}

.link--content {
  color: $link--color;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.about-us {
  img {
    display: block;
  }

  h6 {
    clear: both;
  }
}

.blog {
  p, .link--content {
    font-size: .9rem;
  }

  .img-thumbnail {
    border: none;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      border: 10px solid rgba(255, 255, 255, 0.4);
      border-bottom: none;
    }
  }
}

.send-email {
  .form--btn {
    display: flex;
    justify-content: center;

    button {
      border: none;
      border-radius: 0;
    }
  }

  input {
    outline: none;
    font-weight: 700;
    color: rgba(0,0,0,.4);
  }

  span {
    display: block;
    color: $content;
  }
}

.product_item--tag {
  h5 {
    display: inline;
  }

  span {
    border: 1px solid $dropdown_item--color;
    border-radius: 0;
    background-color: white;
    color: #000;

    &:hover {
      background-color: $dropdown_item--hover;
      color: #fff;
    }
  }
}

.social--carousel {
  .item {
    color: $content;
    font-weight: 700;

    i {
      border: 2px solid $content;
      padding: 4%;
      border-radius: 50%;

      &.fa-facebook-f {
        padding: 4% 6% 4% 6%;
      }

      &.fa-google-plus-g {
        padding: 4% 4% 4% 2%;
      }

      &.fa-pinterest-p {
        padding: 4% 6% 4% 4%;
      }
    }

    &:hover {
      color: black;
    }
  }
}

@media (min-width: 750px) {
  .further--info--content {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 2%;
  }
}

@media (min-width: 992px) {
  .further--info--content {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;

    .about-us, .blog {
      grid-row: 1 / 3;
    }
  }
}