@import "../common/variable";
@import "../common/mixin";

.img_page404 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .img-thumbnail {
    border: none;
  }

  .contact_404 {
    a {
      color: #949494;
      @include setSize(.9rem, 700);

      &:first-child {
        display: inline-block;
        width: 90px;
        border-right: 1px solid #949494;
      }
    }
  }

  .input-group {
    width: 40%;
    border-color: #666262;

    input {
      border-right: none;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      outline: none;
    }

    .input-group-text {
      background-color: transparent;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
}