@import "../common/variable";
@import "../common/mixin";

.about--info {
  .img-thumbnail {
    border-radius: 0;
    border: none;
  }

  h6 {
    font-weight: 700;
  }

  p {
    color: #6d6d6d;
    @include setSize(.8rem, 600);
  }

  a {
    color: #959595;
    @include setSize(.8rem, 600);
  }
}