nav {
  background-color: rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

nav.nav--not--index {
  border-bottom: 1px solid #e7e7e7;
}

nav .navbar-toggler {
  background-color: black;
  border-radius: 0;
}

nav .navbar-toggler i {
  color: #FFFFFF;
}

nav #manager--tool--1 {
  display: none;
}

nav #manager--tool--2 {
  display: block;
}

@media (max-width: 750px) {
  #manager--tool--1 {
    display: block !important;
  }
  #manager--tool--1 .cart .dropdown-menu {
    left: -10rem !important;
  }
  #manager--tool--2 {
    display: none !important;
  }
}

.dropdown-menu {
  position: absolute !important;
  left: -25rem !important;
  border: 2px #789629 solid;
}

.dropdown-menu .menu_item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px 250px 250px;
      grid-template-columns: 250px 250px 250px;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.dropdown-menu .menu_item ul li {
  list-style-type: none;
}

.dropdown-menu .menu_item ul li a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  text-decoration: none;
  color: #212121;
}

.dropdown-menu .menu_item ul li a::after {
  content: "";
  position: absolute;
  top: .4rem;
  left: -.2rem;
  width: .2rem;
  height: .2rem;
  background-color: #789629;
  opacity: 0;
}

.dropdown-menu .menu_item ul li a:hover {
  padding-left: .4rem;
  color: #789629;
}

.dropdown-menu .menu_item ul li a:hover::after {
  opacity: 1;
}

.dropdown-menu .menu_item .menu_item--sub {
  width: 100%;
  padding: 1rem 2rem 0 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dropdown-menu .menu_item .menu_item--sub a {
  color: #737373;
  font-size: 0.7rem;
  font-weight: 600;
}

@media (max-width: 750px) {
  .dropdown-menu {
    left: 0 !important;
  }
  .dropdown-menu .menu_item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr 2fr;
        grid-template-columns: 1fr 2fr 2fr;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 250px;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown a.nav-link {
  position: relative;
}

.dropdown a.nav-link::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: -4%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-bottom: 5px solid #789629;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  display: none;
}

.dropdown a.nav-link:hover::before {
  display: block;
}

.dropdown a.nav-link::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

.nav-item a.nav-link, .nav-item .menu_item--sub h6 {
  font-weight: 700;
  font-size: 0.9rem !important;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  color: #212121;
}

.nav-item a.nav-link:hover {
  color: #789629;
}

.img--tool .cart a:first-child {
  position: relative;
}

.img--tool .cart a:first-child::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: -4%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-bottom: 5px solid #789629;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  display: none;
}

.img--tool .cart a:first-child:hover::before {
  display: block;
}

.img--tool .cart a:first-child::before {
  bottom: -12%;
  left: 28%;
}

.img--tool .cart .dropdown-menu {
  left: -10rem !important;
}

.img--tool .cart .cart_item--sub {
  font-size: 0.8rem;
  font-weight: 600;
}

.img--tool .cart .cart_item--sub .item--sub--sub {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr 1fr;
      grid-template-columns: 3fr 2fr 1fr;
}

.img--tool .cart .cart_item--sub .item--sub--sub .cart_item--show {
  position: relative;
}

.img--tool .cart .cart_item--sub .item--sub--sub .cart_item--show span {
  position: absolute;
  left: 85%;
}

.img--tool .cart .cart_item--sub .item--sub--sub a {
  text-align: center;
}

.img--tool .cart .cart_item--sub .item--sub--sub .item--sub--sub--content span:first-child {
  display: block;
}

.img--tool .cart .cart_item--sub .item--sub--sub .item--sub--sub--content span:nth-child(2) {
  font-family: "Lobster", cursive;
  font-size: 1rem;
  color: #789629;
  font-style: italic;
}

.img--tool .cart .total--price {
  font-size: 0.8rem;
  font-weight: 600;
}

.img--tool .cart .total--price span:nth-child(2) {
  font-family: "Lobster", cursive;
  font-size: 1rem;
  color: #789629;
  font-style: italic;
}

.img--tool .cart button {
  border-radius: 0;
  font-size: .8rem;
}

@media (max-width: 750px) {
  .img--tool .cart .dropdown-menu {
    left: 0 !important;
  }
}

@media (min-width: 760px) {
  .img--tool .cart .dropdown-menu {
    left: -12rem !important;
  }
}

.banner {
  min-height: 800px;
  background-image: url("../../images/HOME/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.banner a {
  position: absolute;
  bottom: 5%;
  left: 22%;
  color: #353535;
  font-weight: 500;
}

#body--content .box_info:nth-child(1) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

#body--content .box_info:nth-child(2) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

@media (min-width: 750px) {
  #body--content .box_info:nth-child(1) {
    border-bottom: none;
    height: 5rem;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
  }
  #body--content .box_info:nth-child(2) {
    border-bottom: none;
    height: 5rem;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
  }
}

#demo {
  position: relative;
}

#demo .carousel-indicators {
  position: absolute;
  bottom: 55%;
}

#demo .carousel-indicators li {
  width: 10px;
  height: 10px;
  background-color: #000;
}

#demo .carousel-item .feedback--bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#demo .carousel-item .feedback--bg::before {
  background: url("../../images/HOME/feedback--background.png") no-repeat;
  background-position: right bottom;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: .4;
}

#demo .carousel-item .feedback--bg img {
  border: 3px solid #cbd4b3;
  border-radius: 50%;
  padding: 2%;
}

#demo .carousel-item .feedback--bg .title span {
  display: none;
}

#demo .carousel-item .feedback--bg .feedback_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 750px) {
  #demo .feedback_info {
    min-width: 200px;
  }
  #demo .carousel-item .feedback--bg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #demo .carousel-item .feedback--bg p {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #demo .carousel-item .feedback--bg .feedback_info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #demo .carousel-item .feedback--bg .feedback_info img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #demo .carousel-item .feedback--bg .feedback_info .title {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    position: absolute;
    bottom: 15%;
    left: 30%;
  }
  #demo .carousel-item .feedback--bg .feedback_info .title span {
    display: inline;
  }
  #demo .carousel-item .feedback--bg .feedback_info .title h6 {
    display: inline;
  }
  #demo .carousel-item .feedback--bg::before {
    opacity: 1;
    background-position: right 10%;
  }
  #demo .carousel-indicators {
    bottom: -15% !important;
    left: -35% !important;
  }
}

@media (min-width: 992px) {
  #demo .carousel-indicators {
    bottom: -15% !important;
    left: -50% !important;
  }
  #demo .carousel-item .feedback--bg .title {
    bottom: 28% !important;
    left: 23% !important;
  }
}

@media (min-width: 1200px) {
  #demo .carousel-indicators {
    bottom: 0 !important;
    left: -60% !important;
  }
  #demo .carousel-item .feedback--bg .title {
    bottom: 36% !important;
    left: 18% !important;
  }
}

.product--bg {
  background: url("../../images/HOME/hot-product--background.jpg") no-repeat;
  background-size: cover;
}

.line--img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.line--img img {
  width: 40%;
}

.product--hot .info--select {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.product--hot .info--select h5 {
  font-family: "utm-androgyne", sans-serif;
  font-style: italic;
  color: #737373;
}

.product--hot .info--select h4 {
  font-family: "utm-androgyne", sans-serif;
  font-style: italic;
  font-size: 2rem;
  font-weight: 700;
  color: #789629;
}

.product--hot .product--choice {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.product--hot .tag-product {
  color: #737373;
}

.product--hot .tag-product a {
  text-decoration: none;
  color: inherit;
}

.product--hot .tag-product a:hover {
  color: #8ea656;
}

@media (min-width: 992px) {
  .product--hot .tag-product li::after {
    right: -70% !important;
  }
}

@media (min-width: 750px) {
  .product--hot .info--select {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .product--hot .tag-product {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .product--hot .tag-product li {
    position: relative;
  }
  .product--hot .tag-product li::after {
    content: '';
    width: 2px;
    height: 2px;
    position: absolute;
    right: -20%;
    bottom: .3rem;
    background-color: black;
  }
  .product--hot .tag-product li#last-child::after {
    display: none;
  }
}

.owl-dots, .owl-nav {
  display: none;
}

.product--carousel .item {
  background-color: white;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.product--carousel .item .img-thumbnail {
  border: none;
}

.product--carousel .item img {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}

.product--carousel .item:hover .product_item--info .product--btn--buy {
  opacity: 1;
}

.product--carousel .item .product_item--info h3 {
  font-size: 1.2rem;
  font-weight: 700;
  position: relative;
}

.product--carousel .item .product_item--info h3::after {
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-bottom: 1px solid black;
  width: 10%;
}

.product--carousel .item .product_item--info h6 {
  font-size: 0.8rem;
  font-weight: 700;
  color: #737373;
}

.product--carousel .item .product_item--info .product--price {
  font-family: "Lobster", cursive;
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 700;
}

.product--carousel .item .product_item--info .product--price span:first-child {
  color: #789629;
}

.product--carousel .item .product_item--info .product--price span:last-child {
  font-size: .8rem;
  color: #737373;
}

.product--carousel .item .product_item--info .product--btn--buy {
  opacity: 0;
}

.product--carousel .item .product_item--info .product--btn--buy .btn-custom {
  outline: none;
  border-radius: 12px;
  height: 38px;
}

.product--carousel .item .product_item--info .product--btn--buy .btn-custom:first-child, .product--carousel .item .product_item--info .product--btn--buy .btn-custom:last-child {
  border: 1px solid #737373;
}

.product--carousel .item .product_item--info .product--btn--buy .btn-custom:first-child {
  padding: 0 4% 0 4%;
}

.product--carousel .item .product_item--info .product--btn--buy .btn-custom:last-child, .product--carousel .item .product_item--info .product--btn--buy .btn-custom:nth-child(2) {
  padding: 0 3% 0 3%;
}

.product--carousel .item .product_item--info .product--btn--buy .btn-custom:nth-child(2) {
  background-color: #789629;
}

@media (min-width: 750px) {
  .product--carousel .owl-item:first-child, .product--carousel .owl-item:last-child {
    position: relative;
  }
  .product--carousel .owl-item:first-child::after, .product--carousel .owl-item:last-child::after {
    position: absolute;
    width: 100%;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.4);
  }
  .product--carousel .owl-item:first-child .product--price span:first-child, .product--carousel .owl-item:last-child .product--price span:first-child {
    color: #c72527 !important;
  }
  .product--carousel .product--btn--buy .btn-custom:last-child, .product--carousel .product--btn--buy .btn-custom:nth-child(2) {
    padding: 0 5% 0 5% !important;
  }
  .product--carousel .product--btn--buy .btn-custom:nth-child(2) {
    background-color: #212121 !important;
  }
}

footer {
  font-weight: 700;
  background-color: #050505;
  color: #494949;
}

footer .overview--item {
  border-bottom: 1px solid #494949;
}

footer .overview--item h5 {
  color: #d1d1d1;
}

footer .overview--item ul li {
  list-style-type: none;
}

footer .overview--item ul li a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  text-decoration: none;
  color: #212121;
}

footer .overview--item ul li a::after {
  content: "";
  position: absolute;
  top: .4rem;
  left: -.2rem;
  width: .2rem;
  height: .2rem;
  background-color: #789629;
  opacity: 0;
}

footer .overview--item ul li a:hover {
  padding-left: .4rem;
  color: #789629;
}

footer .overview--item ul li a:hover::after {
  opacity: 1;
}

footer .further-info span {
  font-size: .8rem;
}

@media (min-width: 992px) {
  footer .overview--info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    font-size: .8rem;
    border-bottom: 1px solid #494949;
  }
  footer .overview--info .overview--item {
    border-bottom: none;
  }
}

.title--content {
  font-weight: 700;
}

.body--content {
  color: #5d5d5d;
}

.link--content {
  color: #a8a8a8;
}

.link--content:hover {
  text-decoration: none;
  color: inherit;
}

.about-us img {
  display: block;
}

.about-us h6 {
  clear: both;
}

.blog p, .blog .link--content {
  font-size: .9rem;
}

.blog .img-thumbnail {
  border: none;
  position: relative;
}

.blog .img-thumbnail::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  border: 10px solid rgba(255, 255, 255, 0.4);
  border-bottom: none;
}

.send-email .form--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.send-email .form--btn button {
  border: none;
  border-radius: 0;
}

.send-email input {
  outline: none;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.4);
}

.send-email span {
  display: block;
  color: #5d5d5d;
}

.product_item--tag h5 {
  display: inline;
}

.product_item--tag span {
  border: 1px solid #737373;
  border-radius: 0;
  background-color: white;
  color: #000;
}

.product_item--tag span:hover {
  background-color: #789629;
  color: #fff;
}

.social--carousel .item {
  color: #5d5d5d;
  font-weight: 700;
}

.social--carousel .item i {
  border: 2px solid #5d5d5d;
  padding: 4%;
  border-radius: 50%;
}

.social--carousel .item i.fa-facebook-f {
  padding: 4% 6% 4% 6%;
}

.social--carousel .item i.fa-google-plus-g {
  padding: 4% 4% 4% 2%;
}

.social--carousel .item i.fa-pinterest-p {
  padding: 4% 6% 4% 4%;
}

.social--carousel .item:hover {
  color: black;
}

@media (min-width: 750px) {
  .further--info--content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    grid-gap: 2%;
  }
}

@media (min-width: 992px) {
  .further--info--content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .further--info--content .about-us, .further--info--content .blog {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
}
/*# sourceMappingURL=index.css.map */