.breadcrumb--custom {
  border-bottom: 1px solid #e7e7e7 !important;
}

.breadcrumb {
  font-size: 0.8rem;
  font-weight: 700;
  background-color: transparent;
}

.breadcrumb a {
  color: #1a1a1a;
}

.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: '\f105';
  font-family: fontAwesome;
}

.breadcrumb .active {
  color: #789629;
}

.product--title {
  font-size: 1.3rem;
  font-weight: 700;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.product--category h5 {
  font-size: .9rem;
}

.product--category #accordion .panel ul li {
  font-size: 0.8rem;
  font-weight: 600;
  color: #8a8a8a;
  list-style-type: square;
}

.product--category #accordion .accordion {
  font-weight: 700;
  background-color: transparent;
  border: none;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.product--category #accordion .active {
  border: none;
}

.product--category #accordion .active ~ .panel {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}

.product--category #accordion .active, .product--category #accordion .accordion:hover {
  color: #789629;
}

.product--category #accordion .panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.product--category #accordion button.accordion {
  color: #212121;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  position: relative;
}

.product--category #accordion button.accordion::after {
  content: '\f0da';
  font-family: fontAwesome;
  width: 10px;
  height: 10px;
  color: #c1c1c1;
  position: absolute;
  right: 1%;
}

.product--category #accordion button.accordion.active::after {
  content: '\f0d7';
  color: #1a1a1a;
}

.product--compare h5 {
  font-size: .9rem;
}

.product--compare span {
  font-size: 0.8rem;
  font-weight: 600;
  color: #8a8a8a;
}

.product--tag h5 {
  font-size: .9rem;
}

.product--tag .product_item--tag .badge:hover {
  background-color: #1a1a1a;
  color: white;
}

.product--adv, .product--adv--sub {
  display: none;
}

.body_product {
  font-size: .8rem;
}

.body_product--content {
  /* Style the buttons */
}

.body_product--content .btnContainer {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.body_product--content .custom--btn {
  border: none;
  outline: none;
  padding: 8px 16px;
  color: rgba(0, 0, 0, 0.4);
  background-color: transparent;
  cursor: pointer;
}

.body_product--content .custom--btn:hover {
  color: rgba(0, 0, 0, 0.6);
}

.body_product--content .custom--btn.custom--active {
  color: black;
}

.body_product--content .product--info--grid .product--btn--buy {
  display: none;
}

.body_product--content .pagination ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  list-style-type: none;
  float: left;
  padding-left: .8rem;
}

.body_product--content .pagination ul li a {
  font-weight: 700;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
}

.body_product--content .pagination ul li a:hover {
  color: black;
}

.body_product--content .product--info--list {
  display: none;
  text-align: left !important;
}

.body_product--content .product--info--list h3::after {
  display: none;
}

.body_product--content .product--info--list .product--btn--buy {
  opacity: 0;
}

.body_product--content .product--info--list .product--btn--buy .btn-custom {
  outline: none;
  border-radius: 12px;
  height: 38px;
}

.body_product--content .product--info--list .product--btn--buy .btn-custom:first-child, .body_product--content .product--info--list .product--btn--buy .btn-custom:last-child {
  border: 1px solid #737373;
}

.body_product--content .product--info--list .product--btn--buy .btn-custom:first-child {
  padding: 0 4% 0 4%;
}

.body_product--content .product--info--list .product--btn--buy .btn-custom:last-child, .body_product--content .product--info--list .product--btn--buy .btn-custom:nth-child(2) {
  padding: 0 3% 0 3%;
}

.body_product--content .product--info--list .product--btn--buy .btn-custom:nth-child(2) {
  background-color: #789629;
}

.body_product--content .product--info--list .rating--like p {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.3);
}

.body_product--content .product--info--list .product--btn--buy {
  opacity: 1;
}

.body_product--content .product--info--list .product--price {
  font-style: normal !important;
}

.body_product--content .product--info--list .product--price span {
  color: black !important;
}

.body_product--content .product_list--list {
  -ms-grid-columns: 1fr !important;
      grid-template-columns: 1fr !important;
  -ms-grid-rows: auto auto auto !important;
      grid-template-rows: auto auto auto !important;
}

.body_product--content .product_list--list .img-thumbnail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body_product--content .product_list--list .product--info--grid {
  display: none;
}

.body_product--content .product_list--list .product--info--list {
  display: block;
}

.body_product--content .product_list--item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
}

.body_product--content .product_list--item .item {
  background-color: white;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.body_product--content .product_list--item .item .img-thumbnail {
  border: none;
}

.body_product--content .product_list--item .item img {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}

.body_product--content .product_list--item .item .product_item--info h3 {
  font-size: 1.2rem;
  font-weight: 700;
  position: relative;
}

.body_product--content .product_list--item .item .product_item--info h3::after {
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-bottom: 1px solid black;
  width: 10%;
}

.body_product--content .product_list--item .item .product_item--info h6 {
  font-size: 0.8rem;
  font-weight: 700;
  color: #737373;
}

.body_product--content .product_list--item .item .product_item--info .product--price {
  font-family: "Lobster", cursive;
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 700;
}

.body_product--content .product_list--item .product--price span {
  color: #789629;
}

@media (min-width: 750px) {
  .product--adv {
    display: block;
  }
  .body_product--content .product_list--list .item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .body_product--content .product_list--item {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }
}

@media (min-width: 992px) {
  .breadcrumb--custom {
    border-bottom: none;
  }
  .product--adv, .product--adv--sub {
    display: block;
  }
  .body_product--content .product_list--item .item:hover .product--btn--buy {
    opacity: 1;
  }
  .body_product--content .product--info--grid .product--btn--buy {
    opacity: 0;
  }
  .body_product--content .product--info--grid .product--btn--buy .btn-custom {
    outline: none;
    border-radius: 12px;
    height: 38px;
  }
  .body_product--content .product--info--grid .product--btn--buy .btn-custom:first-child, .body_product--content .product--info--grid .product--btn--buy .btn-custom:last-child {
    border: 1px solid #737373;
  }
  .body_product--content .product--info--grid .product--btn--buy .btn-custom:first-child {
    padding: 0 4% 0 4%;
  }
  .body_product--content .product--info--grid .product--btn--buy .btn-custom:last-child, .body_product--content .product--info--grid .product--btn--buy .btn-custom:nth-child(2) {
    padding: 0 3% 0 3%;
  }
  .body_product--content .product--info--grid .product--btn--buy .btn-custom:nth-child(2) {
    background-color: #789629;
  }
  .body_product--content .product--info--grid .product--btn--buy {
    display: block;
  }
  .body_product--content .product--info--grid .product--btn--buy .btn-custom:nth-child(2), .body_product--content .product--info--grid .product--btn--buy .btn-custom:last-child {
    padding: 0 6% 0 6%;
  }
}
/*# sourceMappingURL=product.css.map */