@import "../common/variable";
@import "../common/mixin";

.breadcrumb--custom {
  border-bottom: 1px solid #e7e7e7!important;
}

.breadcrumb {
  @include setSize(.8rem, 700);
  background-color: transparent;

  a {
    color: $product_page--color--black;
  }

  .breadcrumb-item+.breadcrumb-item::before {
    content: '\f105';
    font-family: fontAwesome;
  }

  .active {
    color: $dropdown_item--hover;
  }
}

.product--title {
  @include setSize(1.3rem, 700);
  border-bottom: 1px solid $product_page--color--border;
}

.product--category {
  h5 {
    font-size: .9rem;
  }

  #accordion {
    .panel {
      ul li {
        @include setSize(.8rem, 600);
        color: #8a8a8a;
        list-style-type: square;
      }
    }

    .accordion {
      font-weight: 700;
      background-color: transparent;
      border: none;
      border-bottom: 1px dashed rgba(0,0,0,.1);
      cursor: pointer;
      padding: 18px;
      width: 100%;
      text-align: left;
      outline: none;
      transition: 0.4s;
    }

    .active {
      border: none;

      & ~ .panel {
        border-bottom: 1px dashed rgba(0,0,0,.1);
      }
    }

    .active, .accordion:hover {
      color: $dropdown_item--hover;
    }

    .panel {
      padding: 0 18px;
      background-color: white;
      display: none;
      overflow: hidden;
    }

    button.accordion {
      color: $navbar--color;
      transition: color 200ms ease;
      position: relative;

      &::after {
        content: '\f0da';
        font-family: fontAwesome;
        width: 10px;
        height: 10px;
        color: #c1c1c1;
        position: absolute;
        right: 1%;
      }

      &.active::after {
        content: '\f0d7';
        color: $product_page--color--black;
      }
    }
  }
}

.product--compare {
  h5 {
    font-size: .9rem;
  }

  span {
    @include setSize(.8rem, 600);
    color: #8a8a8a;
  }
}

.product--tag {
  h5 {
    font-size: .9rem;
  }

  .product_item--tag {
    .badge:hover {
      background-color: $product_page--color--black;
      color: white;
    }
  }
}

.product--adv, .product--adv--sub {
  display: none;
}

.body_product {
  font-size: .8rem;
}

.body_product--content {
  .btnContainer {
    border-bottom: 1px solid $product_page--color--border;
  }

  /* Style the buttons */
  .custom--btn {
    border: none;
    outline: none;
    padding: 8px 16px;
    color: rgba(0,0,0,.4);
    background-color: transparent;
    cursor: pointer;

    &:hover {
      color: rgba(0,0,0,.6);
    }

    &.custom--active {
      color: rgba(0,0,0,1);
    }
  }

  .product--info--grid {
    .product--btn--buy {display: none}
  }

  .pagination {
    ul {
      li {
        display: flex;
        align-items: flex-end;
        list-style-type: none;
        float: left;
        padding-left: .8rem;

        a {
          font-weight: 700;
          text-decoration: none;
          color: rgba(0,0,0,.4);

          &:hover {
            color: rgba(0,0,0,1);
          }
        }
      }
    }
  }

  .product--info--list {
    @include setInfoDetail();
  }

  .product_list--list {
    grid-template-columns: 1fr!important;
    grid-template-rows: auto auto auto!important;

    .img-thumbnail {
      display: flex;
      justify-content: center;
    }

    .product--info--grid {
      display: none;
    }

    .product--info--list {
      display: block;
    }
  }

  .product_list--item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    @include customProductItem();

    .product--price span {
      color: $dropdown_item--hover;
    }
  }
}

@media (min-width: 750px) {
  .product--adv {
    display: block;
  }

  .body_product--content {

    .product_list--list {
      .item {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }

    .product_list--item {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto auto;
    }
  }
}

@media (min-width: 992px) {
  .breadcrumb--custom {
    border-bottom: none;
  }

  .product--adv, .product--adv--sub {
    display: block;
  }

  .body_product--content {

    .product_list--item {
      .item:hover .product--btn--buy {
        opacity: 1;
      }
    }

    .product--info--grid {
      @include customProductBtnItem();

      .product--btn--buy {
        display: block;

        & .btn-custom:nth-child(2), .btn-custom:last-child {
          padding: 0 6% 0 6%;
        }
      }
    }
  }
}