@import "../common/variable";
@import "../common/mixin";

.cart--table {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .cart_btn {
    .btn {
      font-size: .9rem;
      background-color: black;
      color: white;
      border-radius: 0;
      border: none;
      cursor: pointer;

      &.btn--update {
        background-color: $dropdown_item--hover;
      }
    }
  }
}

.table-bordered {
  thead {
    tr {
      background-color: #fafafa;
    }
  }

  tr {
    th {
      font-family: $font--my;

      &:nth-child(1) {width: 199px}
    }
  }

  td {
    @include setSize(.8rem, 600);
    vertical-align: middle;

    .table--item > input {
      width: 30px;
    }

    &:nth-child(3), &:nth-child(5) {
      font-family: $font--lobster;
    }

    &:last-child {
      img {
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 576px) {
  .table-bordered {
    td {
      .table--item.content--cart {
        position: static;
        transform: translateX(0);
      }
    }
  }
}