.sign-in--header {
  display: flex;
  justify-content: space-between;
}

.btn_sign-in {
  background-color: #050505;
  color: white;
  border: none;
  border-radius: 0;
}

.sign-in_forget--password {
  color: black;

  &:hover {
    color: rgba(0,0,0,.8);
    text-decoration: none;
  }
}