@import "../common/variable";
@import "../common/mixin";

.form--signup {
  form {
    @include setSize(.8rem, 600);
    background-color: #f2f2f2;

    h5 {
      font-weight: 700;
    }

    input {
      border-radius: 0;
    }

    .button--sign-up {
      display: flex;
      justify-content: space-between;

      .btn {
        border-radius: 0;
        background-color: #1a1a1a;
        cursor: pointer;
      }
    }
  }
}