@mixin setTextForCart() {
  font-family: $font--lobster;
  font-size: 1rem;
  color: $dropdown_item--hover;
  font-style: italic;
}

@mixin setSize($size, $weight) {
  font: {
    size: $size;
    weight: $weight;
  }
}

@mixin showCaret() {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: -4%;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 5px solid $dropdown_item--hover;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    display: none;
  }

  &:hover::before {
    display: block;
  }
}

@mixin styleUl() {
  ul li {
    list-style-type: none;

    a {
      box-sizing: border-box;
      position: relative;
      text-decoration: none;
      color: $navbar--color;

      &::after {
        content: "";
        position: absolute;
        top: .4rem;
        left: -.2rem;
        width: .2rem;
        height: .2rem;
        background-color: $dropdown_item--hover;
        opacity: 0;
      }

      &:hover {
        padding-left: .4rem;
        color: $dropdown_item--hover;
      }

      &:hover::after {
        opacity: 1;
      }
    }
  }
}

@mixin customProductItem() {
  .item {
    background-color: white;
    transition: all 200ms;

    .img-thumbnail {
      border: none;
    }

    img {
      border-bottom: 1px dashed rgba(0,0,0,.1);
    }

    .product_item--info {
      h3 {
        @include setSize(1.2rem, 700);
        position: relative;

        &::after {
          content: '';
          position: absolute;
          bottom: -.5rem;
          left: 50%;
          transform: translateX(-50%);
          border-bottom: 1px solid black;
          width: 10%;
        }
      }

      h6 {
        @include setSize(.8rem, 700);
        color: $dropdown_item--color;
      }

      .product--price {
        font-family: $font--lobster;
        font-style: italic;
        @include setSize(1.2rem, 700);
      }
    }
  }
}

@mixin customProductBtnItem() {
  .product--btn--buy {
    opacity: 0;

    .btn-custom {
      outline: none;
      border-radius: 12px;
      height: 38px;

      &:first-child, &:last-child {
        border: 1px solid $dropdown_item--color;
      }

      &:first-child {
        padding: 0 4% 0 4%;
      }

      &:last-child, &:nth-child(2) {
        padding: 0 3% 0 3%;
      }

      &:nth-child(2) {
        background-color: $dropdown_item--hover;
      }
    }
  }
}

@mixin setInfoDetail() {
  display: none;
  text-align: left!important;

  h3::after {display: none}

  @include customProductBtnItem();

  .rating--like {
    p {
      font-weight: 700;
      color: rgba(0,0,0,.3);
    }
  }

  .product--btn--buy {
    opacity: 1;
  }

  .product--price {
    font-style: normal!important;

    span {
      color: black!important;
    }
  }
}