$dropdown_item--hover: #789629;
$dropdown_item--color: #737373;
$navbar--color: #212121;
$navbar--background: #f4f4f4;
$link--color: #a8a8a8;
$content: #5d5d5d;
$footer--color: #494949;
$footer_header--color: #d1d1d1;
$product_page--color--black: #1a1a1a;
$product_page--color--border: rgba(0,0,0,.2);

$font--open: 'Open Sans', sans-serif;
$font--lobster: 'Lobster', cursive;
$font--utm: "utm-androgyne", sans-serif;
$font--my: "myriapro", sans-serif;