body {
    font-family: "Open Sans", sans-serif !important;
}

body nav {
    background-color: rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

body nav.nav--not--index {
    border-bottom: 1px solid #e7e7e7;
}

body nav .navbar-toggler {
    background-color: black;
    border-radius: 0;
}

body nav .navbar-toggler i {
    color: #FFFFFF;
}

body nav #manager--tool--1 {
    display: none;
}

body nav #manager--tool--2 {
    display: block;
}

@media (max-width: 750px) {
    body #manager--tool--1 {
        display: block !important;
    }

    body #manager--tool--1 .cart .dropdown-menu {
        left: -10rem !important;
    }

    body #manager--tool--2 {
        display: none !important;
    }
}

body .dropdown-menu {
    position: absolute !important;
    left: -25rem !important;
    border: 2px #789629 solid;
}

body .dropdown-menu .menu_item {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: auto;
}

body .dropdown-menu .menu_item ul li {
    list-style-type: none;
}

body .dropdown-menu .menu_item ul li a {
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
    color: #212121;
}

body .dropdown-menu .menu_item ul li a::after {
    content: "";
    position: absolute;
    top: .4rem;
    left: -.2rem;
    width: .2rem;
    height: .2rem;
    background-color: #789629;
    opacity: 0;
}

body .dropdown-menu .menu_item ul li a:hover {
    padding-left: .4rem;
    color: #789629;
}

body .dropdown-menu .menu_item ul li a:hover::after {
    opacity: 1;
}

body .dropdown-menu .menu_item .menu_item--sub {
    width: 100%;
    padding: 1rem 2rem 0 2rem;
    box-sizing: border-box;
}

body .dropdown-menu .menu_item .menu_item--sub a {
    color: #737373;
    font-size: 0.7rem;
    font-weight: 600;
}

@media (max-width: 750px) {
    body .dropdown-menu {
        left: 0 !important;
    }

    body .dropdown-menu .menu_item {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
    }
}

body .dropdown {
    position: relative;
    display: inline-block;
}

body .dropdown:hover .dropdown-menu {
    display: block;
}

body .dropdown .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

body .dropdown a.nav-link {
    position: relative;
}

body .dropdown a.nav-link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: -4%;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 5px solid #789629;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    display: none;
}

body .dropdown a.nav-link:hover::before {
    display: block;
}

body .dropdown a.nav-link::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

body .nav-item a.nav-link, body .nav-item .menu_item--sub h6 {
    font-weight: 700;
    font-size: 0.9rem !important;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    color: #212121;
}

body .nav-item a.nav-link:hover {
    color: #789629;
}

.my--account .form-horizontal .form-group label {
    font-family: "myriapro", sans-serif;
}

body .cart .icon-cart {
    cursor: pointer;
}

@media (min-width: 760px) {
    body .img--tool#manager--tool--2 .cart.account .dropdown-menu.menu-logon {
        left: -8rem !important;
    }
}

body .img--tool#manager--tool--2 .cart.account .dropdown-menu.menu-logon {
    min-width: 230px;
}

body .img--tool .cart .cart_item.accout--logon a:first-child {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, .3);
}

body .img--tool .cart .cart_item.accout--logon a:first-child:hover {
    color: rgba(0, 0, 0, .4);
}

body .img--tool .cart .cart_item.accout--logon a {
    display: block;
    font-size: .9rem;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    text-align: left;
}

body .img--tool .cart .cart_item.accout--logon a i {
    font-weight: bold;
}

body .img--tool .cart .cart_item.accout--logon a:hover:not(:first-child) {
    background-color: rgb(245, 244, 245);
    color: #789629;
}

.my--account .form-horizontal .form-group label {
    font-family: "myriapro", sans-serif;
}

.my--account .form-horizontal {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media (min-width: 760px) {
    body .img--tool#manager--tool--2 .cart.account .dropdown-menu.menu-logon {
        left: -8rem !important;
    }
}

body .img--tool#manager--tool--2 .cart.account .dropdown-menu.menu-logon {
    min-width: 230px;
}

body .img--tool .cart .cart_item.accout--logon a:first-child {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, .3);
}

body .img--tool .cart .cart_item.accout--logon a:first-child:hover {
    color: rgba(0, 0, 0, .4);
}

body .img--tool .cart .cart_item.accout--logon a {
    display: block;
    font-size: .9rem;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    text-align: left;
}

body .img--tool .cart .cart_item.accout--logon a i {
    font-weight: bold;
}

body .img--tool .cart .cart_item.accout--logon a:hover:not(:first-child) {
    background-color: rgb(245, 244, 245);
    color: #789629;
}

body .img--tool .cart a:first-child {
    position: relative;
}

body .img--tool .cart a:first-child::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: -4%;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 5px solid #789629;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    display: none;
}

.cart-item--remove {
    cursor: pointer;
}

body .img--tool .cart .show-amount-item a:first-child:hover::before, body .img--tool .cart .account a:first-child:hover::before {
    display: block;
}

body .img--tool .cart a:first-child::before {
    bottom: -12%;
    left: 28%;
}

body .img--tool .cart .dropdown-menu {
    left: -10rem !important;
}

body .img--tool .cart .cart_item--sub a:before {
    display: none;
}

body .img--tool .cart .cart_item--sub a:before {
    display: none;
}

body .img--tool .cart .cart_item--sub a:before {
    display: none;
}

body .img--tool .cart .cart_item--sub {
    font-size: 0.8rem;
    font-weight: 600;
}

body .img--tool .cart .cart_item--sub .item--sub--sub {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
}

body .img--tool .cart .cart_item--sub .item--sub--sub .cart_item--show {
    position: relative;
}

body .img--tool .cart .cart_item--sub .item--sub--sub .cart_item--show span {
    position: absolute;
    left: 85%;
}

body .img--tool .cart .cart_item--sub .item--sub--sub a {
    text-align: center;
}

body .img--tool .cart .cart_item--sub .item--sub--sub .item--sub--sub--content span:first-child {
    display: block;
}

body .img--tool .cart .cart_item--sub .item--sub--sub .item--sub--sub--content span:nth-child(2) {
    font-family: "Lobster", cursive;
    font-size: 1rem;
    color: #789629;
    font-style: italic;
}

body .img--tool .cart .total--price {
    font-size: 0.8rem;
    font-weight: 600;
}

body .img--tool .cart .total--price span:nth-child(2) {
    font-family: "Lobster", cursive;
    font-size: 1rem;
    color: #789629;
    font-style: italic;
}

body .img--tool .cart button {
    border-radius: 0;
    font-size: .8rem;
}

body .account, body .account a {
    color: #000;
    font-family: "Lobster", cursive;
    font-size: 1rem;
}

body .btn--share {
    color: #fff;
    text-align: left;
    background-color: rgb(59, 89, 152);
    font-family: "Open Sans", sans-serif;
    text-transform: capitalize;
    font-weight: 700;
    border-radius: 0;
}

body .btn--share:hover {
    color: #fff;
    background-color: rgb(31, 70, 154);
}

body .signin--socialnetwork .btn {
    color: #fff;
    text-align: left;
}

body .signin--socialnetwork .btn:first-child {
    background-color: rgb(59, 89, 152);
}

body .signin--socialnetwork .btn:nth-child(2) {
    background-color: rgb(223, 74, 50);
}

@media (max-width: 750px) {
    body .img--tool .cart .dropdown-menu {
        left: 0 !important;
    }
}

@media (min-width: 760px) {
    body .img--tool .cart .dropdown-menu {
        left: -12rem !important;
    }
}

body .banner {
    min-height: 800px;
    background-image: url("../images/HOME/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

body .banner a {
    position: absolute;
    bottom: 5%;
    left: 22%;
    color: #353535;
    font-weight: 500;
}

body #body--content .box_info:nth-child(1) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

body #body--content .box_info:nth-child(2) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

@media (min-width: 750px) {
    body #body--content .box_info:nth-child(1) {
        border-bottom: none;
        height: 5rem;
        border-right: 1px solid rgba(0, 0, 0, 0.4);
    }

    body #body--content .box_info:nth-child(2) {
        border-bottom: none;
        height: 5rem;
        border-right: 1px solid rgba(0, 0, 0, 0.4);
    }
}

body #demo {
    position: relative;
}

body #demo .carousel-indicators {
    position: absolute;
    bottom: 55%;
}

body #demo .carousel-indicators li {
    width: 10px;
    height: 10px;
    background-color: #000;
}

body #demo .carousel-item .feedback--bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

body #demo .carousel-item .feedback--bg::before {
    background: url("../images/HOME/feedback--background.png") no-repeat;
    background-position: right bottom;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: .4;
}

body #demo .carousel-item .feedback--bg img {
    border: 3px solid #cbd4b3;
    border-radius: 50%;
    padding: 2%;
}

body #demo .carousel-item .feedback--bg .title span {
    display: none;
}

body #demo .carousel-item .feedback--bg .feedback_info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (min-width: 750px) {
    body #demo .feedback_info {
        min-width: 200px;
    }

    body #demo .carousel-item .feedback--bg {
        flex-direction: row;
        align-items: flex-start;
    }

    body #demo .carousel-item .feedback--bg p {
        order: 2;
    }

    body #demo .carousel-item .feedback--bg .feedback_info {
        flex-direction: column;
    }

    body #demo .carousel-item .feedback--bg .feedback_info img {
        order: 1;
    }

    body #demo .carousel-item .feedback--bg .feedback_info .title {
        order: 3;
        position: absolute;
        bottom: 15%;
        left: 30%;
    }

    body #demo .carousel-item .feedback--bg .feedback_info .title span {
        display: inline;
    }

    body #demo .carousel-item .feedback--bg .feedback_info .title h6 {
        display: inline;
    }

    body #demo .carousel-item .feedback--bg::before {
        opacity: 1;
        background-position: right 10%;
    }

    body #demo .carousel-indicators {
        bottom: -15% !important;
        left: -35% !important;
    }
}

@media (min-width: 992px) {
    body #demo .carousel-indicators {
        bottom: -15% !important;
        left: -50% !important;
    }

    body #demo .carousel-item .feedback--bg .title {
        bottom: 28% !important;
        left: 23% !important;
    }
}

@media (min-width: 1200px) {
    body #demo .carousel-indicators {
        bottom: 0 !important;
        left: -60% !important;
    }

    body #demo .carousel-item .feedback--bg .title {
        bottom: 36% !important;
        left: 18% !important;
    }
}

body .product--bg {
    background: url("../images/HOME/hot-product--background.jpg") no-repeat;
    background-size: cover;
}

body .line--img {
    display: flex;
    justify-content: center;
}

body .line--img img {
    width: 40%;
}

body .product--hot .info--select {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    align-items: end;
}

body .product--hot .info--select h5 {
    font-family: "utm-androgyne", sans-serif;
    font-style: italic;
    color: #737373;
}

body .product--hot .info--select h4 {
    font-family: "utm-androgyne", sans-serif;
    font-style: italic;
    font-size: 2rem;
    font-weight: 700;
    color: #789629;
}

body .product--hot .product--choice {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

body .product--hot .tag-product {
    color: #737373;
}

body .product--hot .tag-product a {
    text-decoration: none;
    color: inherit;
}

body .product--hot .tag-product a:hover {
    color: #8ea656;
}

@media (min-width: 750px) {
    body .product--hot .info--select {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
    }

    body .product--hot .tag-product {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }
}

body .owl-dots, body .owl-nav {
    display: none;
}

body .product--carousel .item {
    cursor: pointer;
    background-color: white;
    transition: all 200ms;
}

body .product--carousel .item .img-thumbnail {
    border: none;
}

body .product--carousel .item img {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}

body .product--carousel .item:hover .product_item--info .product--btn--buy {
    opacity: 1;
}

body .product--carousel .item .product_item--info h3 {
    font-size: 1.2rem;
    font-weight: 700;
    position: relative;
}

body .product--carousel .item .product_item--info h3::after {
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid black;
    width: 10%;
}

body .product--carousel .item .product_item--info h6 {
    font-size: 0.8rem;
    font-weight: 700;
    color: #737373;
}

body .product--carousel .item .product_item--info .product--price {
    font-family: "Lobster", cursive;
    font-style: italic;
    font-size: 1.2rem;
    font-weight: 700;
}

body .product--carousel .item .product_item--info .product--price span:first-child {
    color: #789629;
}

body .product--carousel .item .product_item--info .product--price span:last-child {
    font-size: .8rem;
    color: #737373;
}

body .product--carousel .item .product_item--info .product--btn--buy {
    opacity: 0;
}

body .product--carousel .item .product_item--info .product--btn--buy .btn-custom {
    outline: none;
    border-radius: 12px;
    height: 38px;
}

body .product--carousel .item .product_item--info .product--btn--buy .btn-custom:first-child, body .product--carousel .item .product_item--info .product--btn--buy .btn-custom:last-child {
    border: 1px solid #737373;
}

body .product--carousel .item .product_item--info .product--btn--buy .btn-custom:first-child {
    padding: 0 4% 0 4%;
}

body .product--carousel .item .product_item--info .product--btn--buy .btn-custom:last-child, body .product--carousel .item .product_item--info .product--btn--buy .btn-custom:nth-child(2) {
    padding: 0 3% 0 3%;
}

body .product--carousel .item .product_item--info .product--btn--buy .btn-custom:nth-child(2) {
    background-color: #789629;
}

@media (min-width: 750px) {
    body .product--carousel .owl-item:first-child .product--price span:first-child, body .product--carousel .owl-item:last-child .product--price span:first-child {
        color: #c72527 !important;
    }

    body .product--carousel .product--btn--buy .btn-custom:last-child, body .product--carousel .product--btn--buy .btn-custom:nth-child(2) {
        padding: 0 5% 0 5% !important;
    }

    body .product--carousel .product--btn--buy .btn-custom:nth-child(2) {
        background-color: #212121 !important;
    }
}

body footer {
    font-weight: 700;
    background-color: #050505;
    color: #494949;
}

body footer .overview--item {
    border-bottom: 1px solid #494949;
}

body footer .overview--item h5 {
    color: #d1d1d1;
}

body footer .overview--item ul li {
    list-style-type: none;
}

body footer .overview--item ul li a {
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
    color: #212121;
}

body footer .overview--item ul li a::after {
    content: "";
    position: absolute;
    top: .4rem;
    left: -.2rem;
    width: .2rem;
    height: .2rem;
    background-color: #789629;
    opacity: 0;
}

body footer .overview--item ul li a:hover {
    padding-left: .4rem;
    color: #789629;
}

body footer .overview--item ul li a:hover::after {
    opacity: 1;
}

body footer .further-info span {
    font-size: .8rem;
}

@media (min-width: 992px) {
    body footer .overview--info {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
        grid-gap: 2rem;
        align-items: baseline;
        font-size: .8rem;
        border-bottom: 1px solid #494949;
    }

    body footer .overview--info .overview--item {
        border-bottom: none;
    }
}

body .title--content {
    font-weight: 700;
}

body .body--content {
    color: #5d5d5d;
}

body .link--content {
    color: #a8a8a8;
}

body .link--content:hover {
    text-decoration: none;
    color: inherit;
}

body .about-us img {
    display: block;
}

body .about-us h6 {
    clear: both;
}

body .blog p, body .blog .link--content {
    font-size: .9rem;
}

body .blog .img-thumbnail {
    border: none;
    position: relative;
}

body .blog .img-thumbnail::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    border: 10px solid rgba(255, 255, 255, 0.4);
    border-bottom: none;
}

body .send-email .form--btn {
    display: flex;
    justify-content: center;
}

body .send-email .form--btn button {
    border: none;
    border-radius: 0;
}

body .send-email input {
    outline: none;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.4);
}

body .send-email span {
    display: block;
    color: #5d5d5d;
}

body .product_item--tag h5 {
    display: inline;
}

body .product_item--tag span {
    border: 1px solid #737373;
    border-radius: 0;
    background-color: white;
    color: #000;
}

body .product_item--tag span:hover {
    background-color: #789629;
    color: #fff;
}

body .social--carousel .item {
    color: #5d5d5d;
    font-weight: 700;
}

body .social--carousel .item i {
    border: 2px solid #5d5d5d;
    padding: 4%;
    border-radius: 50%;
}

body .social--carousel .item i.fa-facebook-f {
    padding: 4% 6% 4% 6%;
}

body .social--carousel .item i.fa-google-plus-g {
    padding: 4% 4% 4% 2%;
}

body .social--carousel .item i.fa-pinterest-p {
    padding: 4% 6% 4% 4%;
}

body .social--carousel .item:hover {
    color: black;
}

@media (min-width: 750px) {
    body .further--info--content {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-gap: 2%;
    }
}

@media (min-width: 992px) {
    body .further--info--content {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
    }

    body .further--info--content .about-us, body .further--info--content .blog {
        grid-row: 1 / 3;
    }
}

body .breadcrumb--custom {
    border-bottom: 1px solid #e7e7e7 !important;
}

body .breadcrumb {
    font-size: 0.8rem;
    font-weight: 700;
    background-color: transparent;
}

body .breadcrumb a {
    color: #1a1a1a;
}

body .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    content: '\f105';
    font-family: fontAwesome;
}

body .breadcrumb .active {
    color: #789629;
}

body .product--title {
    font-size: 1.3rem;
    font-weight: 700;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

body .product--category h5 {
    font-size: .9rem;
}

body .product--category #accordion .panel ul li {
    font-size: 0.8rem;
    font-weight: 600;
    color: #8a8a8a;
    list-style-type: square;
}

body .product--category #accordion .accordion {
    font-weight: 700;
    background-color: transparent;
    border: none;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
}

body .product--category #accordion .active {
    border: none;
}

body .product--category #accordion .active ~ .panel {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}

body .product--category #accordion .active, body .product--category #accordion .accordion:hover {
    color: #789629;
}

body .product--category #accordion .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

body .product--category #accordion button.accordion {
    color: #212121;
    transition: color 200ms ease;
    position: relative;
}

body .product--category #accordion button.accordion::after {
    content: '\f0da';
    font-family: fontAwesome;
    width: 10px;
    height: 10px;
    color: #c1c1c1;
    position: absolute;
    right: 1%;
}

body .product--category #accordion button.accordion.active::after {
    content: '\f0d7';
    color: #1a1a1a;
}

body .product--compare h5 {
    font-size: .9rem;
}

body .product--compare span {
    font-size: 0.8rem;
    font-weight: 600;
    color: #8a8a8a;
}

body .product--tag h5 {
    font-size: .9rem;
}

body .product--tag .product_item--tag .badge:hover {
    background-color: #1a1a1a;
    color: white;
}

body .product--adv, body .product--adv--sub {
    display: none;
}

body .body_product {
    font-size: .8rem;
}

body .body_product--content {
    /* Style the buttons */
}

body .body_product--content .btnContainer {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

body .body_product--content .custom--btn {
    border: none;
    outline: none;
    padding: 8px 16px;
    color: rgba(0, 0, 0, 0.4);
    background-color: transparent;
    cursor: pointer;
}

body .body_product--content .custom--btn:hover {
    color: rgba(0, 0, 0, 0.6);
}

body .body_product--content .custom--btn.custom--active {
    color: black;
}

body .body_product--content .product--info--grid .product--btn--buy {
    display: none;
}

body .body_product--content .pagination ul li {
    display: flex;
    align-items: flex-end;
    list-style-type: none;
    float: left;
    padding-left: .8rem;
}

body .body_product--content .pagination ul li a {
    font-weight: 700;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
}

body .body_product--content .pagination ul li a:hover {
    color: black;
}

body .body_product--content .product--info--list {
    display: none;
    text-align: left !important;
}

body .body_product--content .product--info--list h3::after {
    display: none;
}

body .body_product--content .product--info--list .product--btn--buy {
    opacity: 0;
}

body .body_product--content .product--info--list .product--btn--buy .btn-custom {
    outline: none;
    border-radius: 12px;
    height: 38px;
}

body .body_product--content .product--info--list .product--btn--buy .btn-custom:first-child, body .body_product--content .product--info--list .product--btn--buy .btn-custom:last-child {
    border: 1px solid #737373;
}

body .body_product--content .product--info--list .product--btn--buy .btn-custom:first-child {
    padding: 0 4% 0 4%;
}

body .body_product--content .product--info--list .product--btn--buy .btn-custom:last-child, body .body_product--content .product--info--list .product--btn--buy .btn-custom:nth-child(2) {
    padding: 0 3% 0 3%;
}

body .body_product--content .product--info--list .product--btn--buy .btn-custom:nth-child(2) {
    background-color: #789629;
}

body .body_product--content .product--info--list .rating--like p {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.3);
}

body .body_product--content .product--info--list .product--btn--buy {
    opacity: 1;
}

body .body_product--content .product--info--list .product--price {
    font-style: normal !important;
}

body .body_product--content .product--info--list .product--price span {
    color: black !important;
}

body .body_product--content .product_list--list {
    grid-template-columns: 1fr !important;
    grid-template-rows: auto auto auto !important;
}

body .body_product--content .product_list--list .img-thumbnail {
    display: flex;
    justify-content: center;
}

body .body_product--content .product_list--list .product--info--grid {
    display: none;
}

body .body_product--content .product_list--list .product--info--list {
    display: block;
}

body .body_product--content .product_list--item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

body .body_product--content .product_list--item .item {
    cursor: pointer;
    background-color: white;
    transition: all 200ms;
}

body .body_product--content .product_list--item .item .img-thumbnail {
    border: none;
}

body .body_product--content .product_list--item .item img {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}

body .body_product--content .product_list--item .item .product_item--info h3 {
    font-size: 1.2rem;
    font-weight: 700;
    position: relative;
}

body .body_product--content .product_list--item .item .product_item--info h3::after {
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid black;
    width: 10%;
}

body .body_product--content .product_list--item .item .product_item--info h6 {
    font-size: 0.8rem;
    font-weight: 700;
    color: #737373;
}

body .body_product--content .product_list--item .item .product_item--info .product--price {
    font-family: "Lobster", cursive;
    font-style: italic;
    font-size: 1.2rem;
    font-weight: 700;
}

body .body_product--content .product_list--item .product--price span {
    color: #789629;
}

@media (min-width: 750px) {
    body .product--adv {
        display: block;
    }

    body .body_product--content .product_list--list .item {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    body .body_product--content .product_list--item {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
    }
}

@media (min-width: 992px) {
    body .breadcrumb--custom {
        border-bottom: none;
    }

    body .product--adv, body .product--adv--sub {
        display: block;
    }

    body .body_product--content .product_list--item .item:hover .product--btn--buy {
        opacity: 1;
    }

    body .body_product--content .product--info--grid .product--btn--buy {
        opacity: 0;
    }

    body .body_product--content .product--info--grid .product--btn--buy .btn-custom {
        outline: none;
        border-radius: 12px;
        height: 38px;
    }

    body .body_product--content .product--info--grid .product--btn--buy .btn-custom:first-child, body .body_product--content .product--info--grid .product--btn--buy .btn-custom:last-child {
        border: 1px solid #737373;
    }

    body .body_product--content .product--info--grid .product--btn--buy .btn-custom:first-child {
        padding: 0 4% 0 4%;
    }

    body .body_product--content .product--info--grid .product--btn--buy .btn-custom:last-child, body .body_product--content .product--info--grid .product--btn--buy .btn-custom:nth-child(2) {
        padding: 0 3% 0 3%;
    }

    body .body_product--content .product--info--grid .product--btn--buy .btn-custom:nth-child(2) {
        background-color: #789629;
    }

    body .body_product--content .product--info--grid .product--btn--buy {
        display: block;
    }

    body .body_product--content .product--info--grid .product--btn--buy .btn-custom:nth-child(2), body .body_product--content .product--info--grid .product--btn--buy .btn-custom:last-child {
        padding: 0 6% 0 6%;
    }
}

body .info--further {
    display: none;
}

body .row_detail--custom {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    grid-gap: 10px;
}

body .img-thumbnail_detail--custom {
    width: 100%;
}

body .cursor {
    cursor: pointer;
}

body .demo {
    opacity: .6;
}

body .active_detail--custom {
    opacity: 1;
}

body .category_detail .prev, body .category_detail .next {
    cursor: pointer;
}

body .category_detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body .mySlides {
    width: 100%;
}

body .detail_info .product--info--list {
    display: block !important;
    display: none;
    text-align: left !important;
}

body .detail_info .product--info--list h3 {
    color: rgba(0, 0, 0, 0.6);
}

body .detail_info .product--info--list span {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.4);
}

body .detail_info .product--info--list h3::after {
    display: none;
}

body .detail_info .product--info--list .product--btn--buy {
    opacity: 0;
}

body .detail_info .product--info--list .product--btn--buy .btn-custom {
    outline: none;
    border-radius: 12px;
    height: 38px;
}

body .detail_info .product--info--list .product--btn--buy .btn-custom:first-child, body .detail_info .product--info--list .product--btn--buy .btn-custom:last-child {
    border: 1px solid #737373;
}

body .detail_info .product--info--list .product--btn--buy .btn-custom:first-child {
    padding: 0 4% 0 4%;
}

body .detail_info .product--info--list .product--btn--buy .btn-custom:last-child, body .detail_info .product--info--list .product--btn--buy .btn-custom:nth-child(2) {
    padding: 0 3% 0 3%;
}

body .detail_info .product--info--list .product--btn--buy .btn-custom:nth-child(2) {
    background-color: #789629;
}

body .detail_info .product--info--list .rating--like p {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.3);
}

body .detail_info .product--info--list .product--btn--buy {
    opacity: 1;
}

body .detail_info .product--info--list .product--price {
    font-style: normal !important;
}

body .detail_info .product--info--list .product--price span {
    color: black !important;
}

body .detail_info .product--info--list .product--price {
    font-family: "Lobster", cursive;
    font-style: italic;
    font-size: 1.2rem;
    font-weight: 700;
}

body .detail_info .product--info--list .product--price span:last-child {
    font-size: .9rem;
    color: rgba(0, 0, 0, 0.4) !important;
}

body .detail_info .rating--like p {
    font-size: .8rem;
}

body .detail_info .rating--like .product--btn--buy .btn-custom:first-child {
    font-weight: 700;
    border-color: rgba(0, 0, 0, 0.4);
}

body .detail_info .rating--like select {
    font-size: .9rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.4);
}

body .detail_info .rating--like span {
    color: #1a1a1a;
    font-family: "myriapro", sans-serif;
    font-weight: 700;
}

body .detail_info .rating--like span:last-child {
    color: #c72527;
}

body .detail_info .rating--like .ship {
    color: rgba(0, 0, 0, 0.3);
}

body .detail_tab .nav {
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    border: none;
}

body .detail_tab .tab-content {
    font-size: .8rem;
    color: #a0a0a0;
    margin-top: 2.5rem;
}

body .detail_tab a {
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.4);
}

body .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: transparent;
}

body .nav-tabs .nav-link.active {
    color: black;
    background-color: transparent;
}

body .detail_tab .tab-item--sub {
    display: flex;
    flex-direction: column;
}

body .detail_tab .tab-item--sub .img-thumbnail {
    border: none;
}

body .detail_tab .tab-item--sub:nth-child(even) {
    align-items: flex-start;
    text-align: left;
}

body .detail_tab .tab-item--sub:nth-child(even) .title {
    font-size: 1.2rem;
    font-weight: 700;
    color: #646464;
    position: relative;
}

body .detail_tab .tab-item--sub:nth-child(even) .title::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 30%;
    height: 1px;
    border-bottom: 1px solid #e6e6e6;
}

body .detail_tab .tab-item--sub:nth-child(odd) {
    align-items: flex-end;
    text-align: right;
}

body .detail_tab .tab-item--sub:nth-child(odd) .title {
    font-size: 1.2rem;
    font-weight: 700;
    color: #646464;
    position: relative;
}

body .detail_tab .tab-item--sub:nth-child(odd) .title::before {
    content: '';
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 30%;
    height: 1px;
    border-bottom: 1px solid #e6e6e6;
}

body .detail_tab .tab-item--sub p {
    font-size: .8rem;
    color: #a0a0a0;
}

@media (min-width: 750px) {
    body .nav-item .nav-link {
        font-size: 1.2rem !important;
    }

    body .row_detail--custom {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    body .tab-item--sub {
        align-items: center !important;
        flex-direction: row !important;
    }

    body .tab-item--sub:nth-child(odd) .tab_item--info p {
        text-align: right;
    }

    body .tab-item--sub:nth-child(even) .img-thumbnail {
        order: 2;
    }

    body .tab-item--sub:nth-child(even) .tab_item--info p {
        text-align: left;
    }
}

@media (min-width: 992px) {
    body .info--further {
        display: block;
    }

    body .detail_product--hot h5 {
        font-weight: 700;
        padding-bottom: 14px;
        border-bottom: 1px solid #e6e6e6;
    }

    body .detail_product--hot .product--item .img-thumbnail {
        width: 30%;
    }

    body .detail_product--hot .product--item {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    body .detail_product--hot .product--item:not(:last-child) {
        border-bottom: 1px dashed #e6e6e6;
    }

    body .detail_product--hot .product--item .img-thumbnail {
        border: none;
    }

    body .detail_product--hot .product--item .product--info img {
        display: block;
    }

    body .detail_product--hot .product--item .product--info h6 {
        font-size: 1rem;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.7);
    }

    body .detail_product--hot .product--item .product--info span {
        font-family: "Lobster", cursive;
        font-weight: 700;
    }
}

body .page_blog--content .img-thumbnail::after {
    display: none;
}

body .blog--show--item {
    display: grid;
    grid-template-columns: auto;
}

@media (min-width: 750px) {
    body .blog--show--item {
        grid-template-columns: auto auto;
        grid-gap: 20px;
    }
}

@media (min-width: 992px) {
    body .blog--show--item {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }
}

body .blog--comment {
    font-size: 0.9rem;
    font-weight: 700;
}

body .blog--comment span:first-child {
    color: rgba(0, 0, 0, 0.5);
}

body .blog--comment form .form-group span {
    display: inline;
    color: #789629;
}

body .blog--comment form input#comment {
    height: 5rem;
}

body .blog--comment form .btn-custom {
    color: white;
    background-color: black;
    border-radius: 0;
    font-size: .8rem;
}

body .blog_detail--sidebar {
    display: none;
}

@media (min-width: 750px) {
    body .blog--comment form .form-group {
        display: grid;
        grid-template-columns: 10% 90%;
    }

    body .blog--comment .wrap-button {
        display: grid;
        grid-template-columns: 10% 90%;
    }

    body .blog--comment .wrap-button button {
        width: -moz-fit-content;
        width: fit-content;
        grid-column: 2 /3;
    }
}

@media (min-width: 992px) {
    body .blog_detail--sidebar {
        display: block;
    }

    body .news--posts .news--item {
        display: flex;
        align-items: center;
    }

    body .news--posts .news--item .img-thumbnail {
        border: none;
    }

    body .news--posts .content h5 {
        display: inline;
        font-size: 1.2rem;
        font-weight: 700;
    }

    body .news--posts .content span {
        font-size: 0.8rem;
        font-weight: 700;
    }

    body .news--posts .content p {
        font-style: italic;
        font-size: 0.9rem;
        font-weight: 700;
        color: #959595;
    }
}

body .cart--table {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

body .cart--table .cart_btn .btn {
    font-size: .9rem;
    background-color: black;
    color: white;
    border-radius: 0;
    border: none;
    cursor: pointer;
}

body .cart--table .cart_btn .btn.btn--update {
    background-color: #789629;
}

body .table-bordered thead tr {
    background-color: #fafafa;
}

body .table-bordered tr th {
    font-family: "myriapro", sans-serif;
}

body .table-bordered tr th:nth-child(1) {
    width: 199px;
}

body .table-bordered td {
    font-size: 0.8rem;
    font-weight: 600;
    vertical-align: middle;
}

body .table-bordered td:nth-child(4) {
    width: 10%;
}

body .table-bordered td:nth-child(3), body .table-bordered td:nth-child(5) {
    font-family: "Lobster", cursive;
}

body .table-bordered td:last-child img {
    cursor: pointer;
}

@media (max-width: 576px) {
    body .table-bordered td .table--item.content--cart {
        position: static;
        transform: translateX(0);
    }
}

body .account--page h4, body .account--page h5 {
    font-weight: 600;
}

body .account--table {
    font-weight: normal !important;
}

body .account--table thead tr th:nth-child(2) {
    width: 179px !important;
}

body .account--table td {
    font-family: "Open Sans", sans-serif !important;
    font-size: 0.8rem;
    font-weight: 500;
}

body .account--table td:nth-child(3) {
    color: red;
}

body .account--table .table--item {
    top: 30% !important;
}

body .account_item--sub {
    display: flex;
    justify-content: flex-start;
    font-size: .9rem;
}

body .account_item--sub .img-thumbnail {
    border: none;
}

body .breadcrumb--account .breadcrumb .breadcrumb-item.active {
    color: #c72527;
}

body .breadcrumb--account .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    color: #c72527;
}

body .account--table .table-bordered td .table--item {
    position: static;
    transform: translateX(0);
}

.table--item button {
    font-family: "Lobster", cursive;
}

body .form--signup .form_signup--main {
    font-size: 0.8rem;
    font-weight: 600;
    background-color: #f2f2f2;
}

body .form--signup .form_signup--main h5 {
    font-weight: 700;
}

body .form--signup .form_signup--main input {
    border-radius: 0;
}

body .form--signup .form_signup--main .button--sign-up {
    display: flex;
    justify-content: space-between;
}

body .form--signup .form_signup--main .button--sign-up .btn {
    border-radius: 0;
    background-color: #1a1a1a;
    cursor: pointer;
}

body .sign-in--header {
    display: flex;
    justify-content: space-between;
}

body .btn_sign-in {
    background-color: #050505;
    color: white;
    border: none;
    border-radius: 0;
}

body .sign-in_forget--password {
    color: black;
}

body .sign-in_forget--password:hover {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
}

body .about--info .img-thumbnail {
    border-radius: 0;
    border: none;
}

body .about--info h6 {
    font-weight: 700;
}

body .about--info p {
    color: #6d6d6d;
    font-size: 0.8rem;
    font-weight: 600;
}

body .about--info a {
    color: #959595;
    font-size: 0.8rem;
    font-weight: 600;
}

body .contact-us .img-thumbnail {
    border: none;
    border-radius: 0;
}

body .contact-us h3 {
    color: #6b6b6b;
}

body .contact-us .form--contact {
    font-size: 0.9rem;
    font-weight: 700;
}

body .contact-us .form--contact h6 {
    color: #6b6b6b;
    font-weight: 600;
}

body .contact-us .form--contact form .form-group {
    display: grid;
    grid-template-columns: 15% 85%;
}

body .contact-us .form--contact form .form-group input {
    border-radius: 0;
}

body .contact-us .form--contact form .form-group input#messages {
    height: 7rem;
}

body .contact-us .form--contact form .wrap-button {
    display: flex;
    justify-content: flex-end;
}

body .contact-us .form--contact form .wrap-button button {
    width: 5rem;
    color: #FFFFFF;
    background-color: black;
    border-radius: 0;
    border: none;
}

body .img_page404 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body .img_page404 .img-thumbnail {
    border: none;
}

body .img_page404 .contact_404 a {
    color: #949494;
    font-size: 0.9rem;
    font-weight: 700;
}

body .img_page404 .contact_404 a:first-child {
    display: inline-block;
    width: 90px;
    border-right: 1px solid #949494;
}

body .img_page404 .input-group {
    width: 40%;
    border-color: #666262;
}

body .img_page404 .input-group input {
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
}

body .img_page404 .input-group .input-group-text {
    background-color: transparent;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

body .modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
}

body .modal .close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
}

body .modal .close:hover, body .modal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 550px) {
    body .pop-up_custom {
        top: 15%;
    }

    body .pop-up_custom .pop-up_body {
        width: 420px !important;
        height: 420px !important;
    }
}

body .pop-up_custom {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    top: 12%;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}

body .pop-up_custom .pop-up_body {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-image: url("../images/popup.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body .pop-up_custom .pop-up_body input {
    border: 1px solid #737373;
    border-radius: 20px;
    padding-left: 15px;
    outline: none;
}

body .pop-up_custom .pop-up_body h3 {
    font-weight: 700;
}

body .pop-up_custom .pop-up_body span, body .pop-up_custom .pop-up_body a {
    font-size: 0.8rem;
    font-weight: 600;
    color: #737373;
}

body .pop-up_custom .pop-up_body a {
    font-size: 1rem;
}

body #example-basic {
    font-family: Material-Design-Iconic-Font;
}

body #example-basic section:last-child h3 {
    display: none;
}

body #example-basic .error {
    color: #c72527;
}

body #example-basic .btn.btn--update {
    display: none;
}

body .wizard > .steps .current-info, body .wizard > .steps .number {
    display: none;
}

body .wizard > .steps ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

body .wizard > .steps li a {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #e9e0cf;
    margin-right: 78px;
    position: relative;
}

body .wizard > .steps li a:before {
    content: "";
    width: 58px;
    height: 2px;
    background: #e9e0cf;
    position: absolute;
    right: 22px;
    top: 5px;
}

body .wizard > .steps li a:after {
    content: "";
    width: 0;
    height: 2px;
    background: #6d7f52;
    position: absolute;
    left: -68px;
    top: 5px;
    transition: all 0.6s ease;
}

body .wizard > .steps li.first a {
    background: #6d7f52;
}

body .wizard > .steps li.checked a {
    background: #6d7f52;
}

body .wizard > .steps li.checked a:after {
    width: 58px;
}

body .wizard > .steps li:last-child a {
    margin-right: 0;
}

body .wizard > .steps li:first-child a:before {
    display: none;
}

body .wizard > .steps li:first-child a:after {
    display: none;
}

body .actions {
    display: flex;
    justify-content: flex-end;
}

body .actions ul {
    display: flex;
    list-style-type: none;
}

body .actions li a {
    padding: 0;
    border: none;
    display: inline-flex;
    height: 41px;
    width: 135px;
    align-items: center;
    background: #e9e0cf;
    font-family: "Muli-SemiBold";
    color: #666;
    cursor: pointer;
    position: relative;
    padding-left: 28px;
}

body .actions li a:before {
    content: '\f301';
    position: absolute;
    top: 14px;
    right: 28px;
    font-family: Material-Design-Iconic-Font;
}

body .actions li a:hover {
    background: #cfc7b8;
}

body .actions li:first-child a {
    width: 144px;
    padding-left: 48px;
}

body .actions li:first-child a:before {
    content: '\f2ff';
    position: absolute;
    top: 14px;
    left: 26px;
    font-family: Material-Design-Iconic-Font;
}

body .actions li:nth-child(2) a, body .actions li:last-child a {
    margin-left: 20px;
}

body .actions li:last-child a {
    width: 124px;
    background: #6d7f52;
    color: #fff;
}

body .actions li:last-child a:hover {
    background: #849963;
}

body .actions li:last-child a:before {
    content: '\f26b';
    position: absolute;
    top: 13px;
    right: 28px;
    font-family: Material-Design-Iconic-Font;
}

body .actions li[aria-disabled="true"] a {
    opacity: 0;
    transition: all 1s;
}

body .actions li[aria-disabled="false"] ~ li a {
    background: #6d7f52;
    color: #fff;
}

body .actions li[aria-disabled="false"] ~ li a:hover {
    background: #849963;
}

.container--wrap {
    font-family: Poppins-SemiBold, sans-serif;
    background-color: #ebeeef;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap {
    min-width: 670px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 2%;
    overflow: hidden;
    box-shadow: 1px 2px 15px rgba(0,0,0,.3);
}

.login--admin {
    border-radius: 2%;
    position: relative;
    width: 100%;
    padding: 70px 0 74px 0;
    background-image: url('../images/bg-01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    z-index: 0;
}

.login--admin:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(54,84,99,0.7);
}

.login--admin span {
    font-family: Poppins-ExtraBold, sans-serif;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    font-weight: 700;
    z-index: 1;
}

.login--form {
    width: 100%;
    height: 52vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
}

.wrap--input {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-column-gap: 20px;
}

.wrap--input input {
    font-family: Poppins-LightItalic, sans-serif;
    outline: none;
    border: none;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    background: transparent;
    padding: 0 5px;
    position: relative;
}

.login_form--btn .btn--login {
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    background-color: #57b846;
    border-radius: 25px;
    font-family: Poppins-Regular, sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    border: none;
    box-shadow: 1px 2px 10px rgba(0,0,0,.2);
    outline: none;
}

.login_form--btn .btn--login:active {
    transform: translateY(1px);
    box-shadow: 1px 0 10px rgba(0,0,0,.2);
}

@media (min-width: 768px) {
    .notification_admin {
        cursor: pointer;
        color: rgba(255, 255, 255, 0.5);
        font-size: .9rem;
        margin: 0 .6rem 0 .6rem;
    }

    .notification_admin i {
        margin: 0 .6rem 0 .6rem;
    }

    .notification_admin i:hover {
        color: rgba(255, 255, 255, 0.8);
    }

    .sidebar {
        min-width: 255px;
    }

    .sidebar .nav-item .nav-link {
        color: rgba(255, 255, 255, 0.5);
        padding: 1rem;
        margin-left: 20px;
    }

    .sidebar .nav-item .nav-link:hover {
        color: rgba(255, 255, 255, 0.8);
    }

    .sidebar .nav-item.active .nav-link {
        color: #fff;
    }

    .wrap--admin {
        min-height: 582px;
        display: flex;
        flex-direction: row;
    }

    .wrap--content {
        width: 100%;
        overflow: hidden;
    }

    .wrap--content .container-fluid {
        min-height: 455px;
    }

    .wrap--content .nav-tabs .nav-link {
        text-transform: uppercase;
        font-size: .9rem;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.4);
    }

    .wrap--content .nav-tabs .nav-link.active {
        color: black;
        background-color: transparent;
    }

    .card-body-icon {
        position: absolute;
        z-index: 0;
        top: -1.25rem;
        right: -1rem;
        opacity: 0.4;
        font-size: 5rem;
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }

    .wrap--content footer {
        height: 88px;
        background-color: #e9ecef;
        vertical-align: middle;
        display: flex;
        align-items: center;
        font-size: .8rem;
    }
}

/*# sourceMappingURL=style.css.map */
